@import 'reset';
@import 'typography';
@import 'animation';
@keyframes color-barras {
    0% {
        fill: $secundary_salmon-light;
    }
    50% {
        fill: $secundary_salmon-middle;
    }
    100% {
        fill: $secundary_salmon;
    }
}