.button_regular {
    color: $light_white;
    background-color: $primary_blue;
    font-family: 'Opensans', sans-serif;
    font-weight: 500;
    font-size: $medium;
    padding: 5px 20px;
    border: none;
    transition: all linear 200ms;
}

.button_regular:hover {
    color: $bg_black;
    background-color: $primary_blue-light;
}

.button_lg {
    color: $light_white;
    background-color: $primary_blue;
    font-family: 'Opensans', sans-serif;
    font-weight: 500;
    font-size: $medium;
    width: 100%;
    padding: 5px;
    border: none;
    transition: all linear 200ms;
}

.button_lg:hover {
    color: $bg_black;
    background-color: $primary_blue-light;
}

.button_secundary {
    color: $bg_black;
    background-color: $light_white;
    font-family: 'Opensans', sans-serif;
    font-weight: 500;
    font-size: $medium;
    padding: 10px 20px;
    border: none;
}