.contenedor__precios__row--tarjeta {
    background-color: $light_white;
    width: 100%;
    padding: 3rem 3rem 2rem 3rem;
    &:hover {
        box-shadow: 5px 5px 18px $bg_black;
    }
    & ul {
        height: 10rem;
        font-family: $secundary_font;
        line-height: 2rem;
    }
}

.titulo-tarjeta {
    font-family: $secundary_font;
    font-size: $x-large;
}

.precio-tarjeta {
    font-family: $primary_font;
    font-size: $xx-large;
    font-weight: 700;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .contenedor__precios__row--tarjeta {
        width: 60%;
        margin: 0 1.5rem;
        & ul {}
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .contenedor__precios__row--tarjeta {
        width: 30%;
        margin: 0 1.5rem;
        transition: all linear 200ms;
    }
    .contenedor__precios__row--tarjeta:hover {
        transform: scale(1.01);
        margin: 0 1.5rem;
    }
}