.contenedor__caracteristicas {
    height: 100vh;
    padding-top: 14rem;
    &--titulo {
        font-family: $primary_font;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem 0;
    }
    &--contenido {
        display: flex;
        justify-content: center;
        align-items: center;
        &>* {
            width: 40%;
        }
        & h4 {
            font-family: $primary_font;
        }
        & p {
            font-family: $secundary_font;
        }
    }
}

.a-bar {
    animation: color-barras 2s infinite;
}

@media (max-width: 768px) {
    .contenedor__caracteristicas {
        height: 100vh;
        padding-top: 1rem;
        &--titulo {
            margin: 1rem 0;
            padding-bottom: 3rem;
        }
        &--contenido {
            display: grid;
            gap: 20px;
            justify-content: center;
            align-items: center;
            &>* {
                display: inline;
                width: 80%;
                margin: 0 10%;
                padding-bottom: 3rem;
            }
        }
    }
}