main {
    height: 75vh;
}

.contenedor__principal {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    background-image: url(/assets/img/bg-hero.svg);
    &--textos {
        width: 30%;
        margin: 0 10%;
    }
}

.titulo {
    font-size: $xxxxx-large;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.texto {
    width: 100%;
    font-size: $medium;
    font-family: 'Opensans', sans-serif;
}

@media (max-width: 992px) {
    .contenedor__principal {
        height: 77vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: bottom;
        margin-top: 10%;
        &--textos {
            width: 80%;
        }
    }
}