// COLORES
// PRIMARIOS
$primary_blue: #2ab7ca;
$primary_blue-middle: #77d1dd;
$primary_blue-light: #b1e4eb;
// SECUNADARIOS
$secundary_salmon: #ee9480;
$secundary_salmon-middle: #f4baae;
$secundary_salmon-light: #fadfda;
// COLOR-BACKGROUND-1
$bg_onyx: #333745;
$bg_onyx-middle: #8f9199;
$bg_onyx-light: #c7c8cc;
// COLOR-BACKGROUND-2
$bg_black: #221d23;
$bg_black-middle: #726f73;
$bg_black-light: #aeacaf;
// COLORS LIGHTS
$light_white: #fff;
$light_platinium: #e8e8e8;
$light_gray: #fff;
// /
// TIPOGRAFIAS
$primary_font:'Raleway',
sans-serif;
$secundary_font:'Opensans',
sans-serif;
// /
// /
// FONT SIZES
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 12px;
$x-small: 12px;
// /